.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  .containerElement{
    padding: 6% 10%;
    background-color: #200a24;

    h2 {
    font-size: 2.6rem;
    text-overflow: clip;
    color: #fff !important;
  };
  p {
    margin: 1rem 0;
    font-size: 1.6rem;
    color: #fff;
  };
  button {
    margin-top: 8rem ;
    font-size: 1.4rem;
    padding: 0.6rem;
    background-color: #fc024d;
    color: #fff;
    border: 1px solid red;
    border-radius: 10px;
  }
  }
}
